@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Mina&display=swap');

/* Basic Page Style */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;

    background-color: rgb(236, 219, 196);

    font-family: 'Mina', sans-serif;
    letter-spacing: 2px;
}

/* Basic Style To Elements */
h1,
h2,
p {
    margin: 0;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

span {
    padding-left: 5rem;

    text-transform: uppercase;
}

/* Header & Nav Menu */
header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-transform: uppercase;

    padding-left: 5rem;
    background-color: rgb(236, 219, 196);
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    text-transform: uppercase;

    padding-left: 5rem;
    gap: 6.5rem;

    background-color: bisque;
}

/* Hero Image */
#hero-outer {
    overflow: hidden;
    position: relative;
}

#hero-img {
    height: 80vh;
    width: 100%;
    background: url(/assets/images/hero-tea.png) no-repeat center center;
    background-size: cover;
}

/* Hero (SLOGAN) Text-Box */
#hero-text-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    position: absolute;
    bottom: 18rem;
    background: rgb(236 219 196 / 32%);
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Headline */
#headline {
    font-size: 1rem;

    padding: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

/* Tea Shop */
.row {
    display: flex;
    gap: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.column {
    flex: 33.33%;
}

img {
    width: 100%;
}

/* About */
#about {
    background-color: rgb(165 157 139);
}

#about-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.about-box {
    margin: 0;
    color: rgb(51 49 49);
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(236, 219, 196);
}